@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Nunito Sans", Helvetica, sans-serif;

  --green: #62d92f;
}

header {
  position: absolute;
  width: 100%;
  z-index: 5;
}
header a {
  color: #fff;
}

.header-top {
  display: flex;
  justify-content: flex-end;
  /* margin: 10px 50px 25px; */
  gap: 5px;
  font-size: 13px;
  max-width: 1366px;
  margin: 10px auto;
}

.utility-item {
  display: flex;
  gap: 5px;
  padding: 5px 10px;
  align-items: center;
  transition: 0.2s ease;
  border-radius: 20px;
}

.utility-item:hover {
  background-color: var(--green);
  color: #fff;
}

.header-center {
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  margin: 20px auto;
  align-items: center;
}

.icon-header-center {
  display: flex;
}

.icon-header-center svg {
  width: 100%;
  height: 40px;
}

.acesso {
  display: flex;
  gap: 20px;
  align-items: center;
  /* margin-right: 100px; */
}

.menu {
  display: flex;
  gap: 5px;
  border-radius: 40px;
  padding: 6px 20px;
  background-color: #fff;
  align-items: center;
  font-size: 14px;
}

.menu-item {
  color: rgb(117, 117, 117);
  padding: 10px 10px;
  border-radius: 20px;
}
.menu-item.active {
  background-color: var(--green);
  color: #fff;
  font-weight: 600;
}
.banner {
  background-image: url("/img/pexels-sohail-nachiti-807598\ \(2\).jpg");
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
}

.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 1;
}

.login-button {
  border-radius: 20px;
  padding: 0px 20px;
  height: 25px;
  background-color: transparent;
  border: 2px solid var(--green);
  color: var(--green);
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

.login-button:hover {
  background-color: var(--green);
  color: #fff;
}


