@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Nunito Sans", Helvetica, sans-serif;
}

header {
  position: absolute;
  width: 100%;
}
header a{
  color: #fff;
}


.header-top {
  display: flex;
  justify-content: flex-end;
  /* margin: 10px 50px 25px; */
  gap: 20px;
  font-size: 13px;
  max-width: 1366px;
  margin: 0 auto;
}

.header-top a {
  display: flex;
  gap: 5px;    
}

.header-center {
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  margin: 20px auto;
}

.icon-header-center {
  display: flex;

}

.icon-header-center svg{
  width: 100%;
  height: 40px;

}

.acesso {
  display: flex;
  gap: 20px;
  /* margin-right: 100px; */
}

.header-bottom {
  display: flex;
  /* margin: 10px 50px 25px; */
  gap: 20px;
  justify-content: space-between;
  font-size: 14px;
  max-width: 1366px;
  margin: 0 auto;
}

.menu {
  display: flex;
  gap: 20px;
}

.banner {
  background-image: url("https://www.goimage.com.br/static/banners/banner-new-fotogo__desktop.png");
  width: 100%;
  height: 900px;
  background-size: cover;
}
